* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #c4cace;
  color: black;
}

h1 {
  color: black;
  background-color: white;
  text-align: center;
}

h2,
h3 {
  margin: 0.5rem;
  color: rgb(61, 94, 141);
  text-align: center;
}

img {
  width: 60%;
}

.booklist {
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: 420px 420px 420px;
  justify-content: center;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 420px;
  padding: 1rem 2rem;
  border: 1px solid rgb(207, 204, 204);
}

.rank {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  background-color: rgb(192, 77, 77);
  color: white;
}
